@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Silkscreen', cursive; */
}

html {
  background-color: white;
}

.title {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  margin: 1rem;
}

.big-c {
  font-size: 2.5rem;
  font-weight: bolder;
}

.small-letters {
  font-size: 1.2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.app-container {
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.margin-top-30 {
  margin-top: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0066cd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0066cd;
  cursor: pointer;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}
